{% extends "base.html" %}
{% block main %}
<div class="row">
    <h2>Ajout de l'album {{ album.get_title() }} à une playlist</h2>
    <form method="POST" action="{{ url_for('ajouter_playlist',id=album.get_id()) }}">
        <select name="ajout">
            <option value="">Faites votre choix</option>
            {% for play in liste %}
                <option value='{{ play[1] }}'>{{ play[0] }}</option>
            {% endfor %}
        </select>
        <p>{{ text }}</p>
        <input class="btn btn-default" type="submit" value="Ajouter">
    </form>
    <a href="{{ url_for('info_album',id=album.get_id()) }}" class="btn btn-primary" role="button">Retour</a>
</div>
{% endblock %}
