{% extends "base.html" %}

{% block main %}

<div class="row">
  {% for a in posts.items %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="container-op">
        <h3>{{a.get_title()}}</h3>
          <a href="{{ url_for('info_album',id=a.get_id())}}"><img class="img-album" src="{{url_for('static', filename='images/'+a.get_img()) }}" ></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<footer id="footer_album">
  <nav aria-label="Page navigation">
    <ul class="pager">
    {% if posts.has_prev %}
      <li>
        <a href="{{ url_for('album', page=posts.prev_num) }}" role="button" onclick="">&laquo; Précédent </a>
    {% else %}
      </li>
      <li>
        <a class="di" href="{{ url_for('album', page=posts.prev_num) }}" role="button">&laquo; Précédent</a>
      </li>
    {% endif %}
      <li><a id="page">{{page}}/{{maxPage}}</a></li>
    {% if posts.has_next %}
      <li>
        <a href="{{ url_for('album', page=posts.next_num) }}" role="button"> Suivant &raquo;</a>
      </li>
    {% else %}
      <li>
        <a class="di" href="{{ url_for('album', page=posts.next_num) }}" role="button"> Suivant &raquo;</a>
      </li>
    {% endif %}
    </ul>
  </nav>
</footer>
{% endblock %}
