{% extends "base.html" %}
{% block main %}
<div class="row">

    <ul>
      {% for a in liste_authors %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" id="Auteur1">
        <div class="container-op" id="Auteur">
          <ul>
            <li><a href="{{ url_for('one_author',id=a.get_id())}}">{{a.get_name()}}</a></li>
          </ul>
        </div>
      </div>
    </div>
      {% endfor %}
    </ul>
</div>
{% endblock %}
