{% extends "bootstrap/base.html" %}
{% block title %}Music Rock{% endblock %}
{% block styles %}
{{ super() }}
    <link rel = "stylesheet" href = "{{ url_for('static', filename='home.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='album.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}">
{% endblock %}
{% block metas %}
{{ super() }}
<meta charset="utf-8">
<meta name = "viewport" content = "width=device-width,initial-scale=1,shrink-to-fit=no">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Projet Music Rock</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="nav-item" href="{{ url_for('home_page') }}">Home</a></li>
            <li><a class="nav-item" href="/Album/index/">Albums</a></li>
            <li><a class="nav-item" href="{{url_for('author')}}">Artistes</a></li>
            <li><a class="nav-item" href="/Playlist/index/">Playlist</a></li>
            <li><a class="nav-item" href="{{url_for('contact')}}">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Albums</li>
                <li><a href="{{ url_for('new_album') }}">Ajouter album</a></li>
                <li><a href="{{ url_for('delete_album') }}">Supprimer album</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Artistes</li>
                <li><a href="{{ url_for('new_author') }}">Ajouter artiste</a></li>
                <li><a href="{{ url_for('delete_author') }}">Supprimer artiste</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Playlist</li>
                <li><a href="{{ url_for('new_playlist') }}">Ajouter playlist</a></li>
                <li><a href="{{ url_for('delete_playlist') }}">Supprimer playlist</a></li>
              </ul>
            </li>
            {% endif %}
        </ul>
        <form class="navbar-form navbar-right" method="POST" action="{{ url_for('search') }}">
            <input name="recherche" class="form-control" placeholder="Rechercher..." type="search">
        </form>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a>{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('logout') }}">
                <span class="glyphicon glyphicon-log-out" title="Logout">
                </span></a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">
                <span class="glyphicon glyphicon-log-in" title="Logout">
                </span></a></li>
            {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}
{% block content %}
<div class="container" role="main">

  {% block main%}{% endblock %}

</div>
{% endblock %}
