{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='contact.css')}}" >
{% endblock %}

{% block main %}
  <ul class ="trois">
      <li class = "contacts-item">
        <img class  = "img-circle"
             src    = "{{url_for('static', filename = 'artiste_circle.png') }}"
             alt    = "Generic placeholder image"
             width  = "140"
             height = "140">
        <p> joshua.vanneau@etu.univ-orleans.fr </p>
        <p>Joshua Vanneau</p>
      </li>
    <li class = "contacts-item">
      <img class  = "img-circle"
           src    = "{{ url_for('static', filename = 'artiste_circle.png') }}"
           alt    = "Generic placeholder image"
           width  = "140"
           height = "140">
      <p> tanguy.voiry@etu.univ-orleans.fr </p>
      <p>Tanguy Voiry</p>
    </li>
    <li class = "contacts-item">
      <img class  = "img-circle"
           src    = "{{ url_for('static', filename = 'artiste_circle.png') }}"
           alt    = "Generic placeholder image"
           width  = "140"
           height = "140">
      <p> florian.thomas@etu.univ-orleans.fr</p>
      <p>Florian Thomas</p>
    </li>

</ul>
{% endblock %}
