{% extends "base.html" %}
{% block main %}
<div class="row" id="delalbum">
    <h2>Suppression d'une playlist</h2>
    <form method="POST" action="{{ url_for('delete_playlist') }}">
        <select name="del">
            <option value="">Faites votre choix</option>
            {% for playlist in liste %}
                <option value='{{ playlist[1] }}'>{{ playlist[0] }}</option>
            {% endfor %}
        </select>
        <p>{{ text }}</p>
        <input class="btn btn-danger" type="submit" value="Supprimer">
    </form>
</div>
{% endblock %}
