{% extends "base.html" %}
{% block main %}
<div class="row" id="delalbum" >
    <h2>Suppression d'un Album : </h2>
    <form method="POST" action="{{ url_for('delete_album') }}">
        <select name="del" >
            <option value="">Faites votre choix</option>
            {% for album in liste %}
                <option value='{{ album[1] }}'>{{ album[0] }}</option>
            {% endfor %}
        </select>
        <p>{{ text }}</p>
        <input class="btn btn-danger" type="submit" value="Supprimer">
    </form>
</div>
{% endblock %}
