{% extends "base.html" %}
{% block main %}
<div class="row">
  <h1> Edition de la playlist: {{ playlist.get_name() }}</h1>
  <form role ="form" method="POST" action="{{ url_for('save_playlist')}}">
    {{ form.hidden_tag() }}
    <div class=
      {% if form.name.errors%}
      "form-group has-error"
      {% else %}
      "form-group"
      {% endif %}>
      {{ form.name.label }} {{ form.name(size=50, class_="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
      {% for e in form.name.errors %}
        <li class="list-group-item list-group-item-danger"> {{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <input class="btn btn-default" type="submit" value="Enregistrer">
  </form>
  <a href="{{ url_for('info_playlist',id=playlist.get_id()) }}" class="btn btn-primary" role="button">Retour</a>
</div>
{% endblock %}
