{% extends "base.html" %}
{% block main %}
<div class="row">
<h1> Edition de l'album: {{ album.get_title() }}</h1>
<form role ="form" method="POST" action="{{ url_for('save_album')}}">
    {{ form.hidden_tag() }}
    <div class=
        {% if form.name.errors%}
        "form-group has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
      {{ form.name.label }} {{ form.name(size=50, class_="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
      {% for e in form.name.errors %}
      <li class="list-group-item list-group-item-danger"> {{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class=
        {% if form.date.errors%}
        "form-group has-error"
        {% else %}
        "form-group"
        {% endif %}
        >
      {{ form.date.label }} {{ form.date(size=50, class_="form-control") }}
    </div>
    {% if form.date.errors %}
    <ul class="list-group">
      {% for e in form.date.errors %}
      <li class="list-group-item list-group-item-danger"> {{ e }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <select name="Auteur">
        <option value="{{ album.get_author_id() }}">{{ auteur_album.get_name() }}</option>
        {% for a in auteur %}
          {% if a.get_id()!= auteur_album.get_id() %}
            <option value='{{ a.get_id() }}'>{{ a.get_name() }}</option>
          {% endif %}
        {% endfor %}
    </select>

    <select name="Compositeur">
        <option value="{{ album.get_parent() }}">{{ compositeur_al.get_compositeur() }}</option>
        {% for comp in compositeur %}
            {% if comp.get_id()!=compositeur_al.get_id() %}
                <option value='{{ comp.get_id() }}'>{{ comp.get_compositeur() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select name="Genre1">
        <option value="{{ genre_album[0].get_id() }}">{{ genre_album[0].get_genre() }}</option>
        {% for g in genre %}
            {% if g.get_id()!=genre_album[0].get_id() %}
              <option value='{{ g.get_id() }}'>{{ g.get_genre() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select name="Genre2">
        <option value="{{ genre_album[1].get_id() }}">{{ genre_album[1].get_genre() }}</option>
        {% for g in genre %}
            {% if g.get_id()!=genre_album[1].get_id() %}
                <option value='{{ g.get_id() }}'>{{ g.get_genre() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select name="Genre3">
        <option value="{{ genre_album[2].get_id() }}">{{ genre_album[2].get_genre() }}</option>
        {% for g in genre %}
            {% if g.get_id()!=genre_album[2].get_id() %}
                <option value='{{ g.get_id() }}'>{{ g.get_genre() }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input class="btn btn-default" type="submit" value="Enregistrer">
</form>
</div>
{% endblock %}
