{% extends "base.html" %}
{% block main %}
<div class="row">
    <h2>Enlever un album de la playlist :{{ playlist.get_name() }}</h2>
    <form method="POST" action="{{ url_for('enlever_playlist',id=playlist.get_id()) }}">
        <select name="enlever">
            <option value="">Faites votre choix</option>
            {% for album in liste %}
                <option value='{{ album[1] }}'>{{ album[0] }}</option>
            {% endfor %}
        </select>
        <p>{{ text }}</p>
        <input class="btn btn-default" type="submit" value="Enlever">
    </form>
    <a href="{{ url_for('info_playlist',id=playlist.get_id()) }}" class="btn btn-primary" role="button">Retour</a>
</div>
{% endblock %}
