{% extends "base.html" %}

{% block main %}
<div class="button">
  <h1 id="titlehome">{{ title }}</h1>
  <p>Ecoutez vos titres préférés non-stop</p>
  <a id="listen" href="{{url_for('home_page')}}"> <input id="listenInput" type="button" value="Listen now"> </a>
</div>
{% endblock %}
