{% extends "base.html" %}

{% block main %}
<header class="slide">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="{{url_for('static',filename='images/sslide.jpg')}}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Une envie de musique</h1>
              <p>Découvrez tous les albums de Rock en illimité</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="{{url_for('static',filename='images/fslide.jpg')}}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Écoutez tous vos albums</h1>
              <p>Votre musique Rock en illimité et où vous voulez.</p>
              <p><a class="btn btn-lg btn-primary" href="{{url_for('album')}}" role="button">Voir les albums</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="{{url_for('static',filename='images/tslide.jpg')}}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Vos artistes en illimité</h1>
              <p>Retrouvez vos artistes préférés et leurs meilleurs albums autant que vous le désirez.<p>
              <p><a class="btn btn-lg btn-primary" href="{{ url_for('author') }}" role="button">Voir les artistes</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  <body class=body-slide>
    <div class="container marketing">
     <div class="row">
       <div class="col-lg-4">
         <a href="{{ url_for('album')}}" ><img class="img-circle" src="{{url_for('static',filename='images/album_circle.png')}}" alt="Generic placeholder image" width="140" height="140"></a>
         <a href="{{ url_for('album')}}" ><h2>Albums</h2></a>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
         <a href="{{ url_for('author')}}" ><img class="img-circle" src="{{url_for('static',filename='images/artiste_circle.png')}}" alt="Generic placeholder image" width="140" height="140"></a>
         <a href="{{ url_for('author')}}" ><h2>Artistes</h2></a>
       </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
         <a href="{{ url_for('contact')}}" ><img class="img-circle" src="{{url_for('static',filename='images/contact_circle.png')}}" alt="Generic placeholder image" width="140" height="140"></a>
         <a href="{{ url_for('contact')}}" ><h2>Contacts</h2></a>
       </div><!-- /.col-lg-4 -->
     </div><!-- /.row -->
   </div>
  <body>
{% endblock %}
