{% extends "base.html" %}
{% block main %}
<div class="row">
<form role="form" method="POST" action="{{ url_for('save_album') }}">
    {{ form.hidden_tag() }}

    <div class=
    {% if form.name.errors %}"form-group has-error"
    {% else %}"form-group"
    {% endif %}>
        {{ form.name.label }} {{ form.name(size=50,class_="form-control") }}
    </div>
    {% if form.name.errors %}
    <ul class="list-group">
        {% for e in form.name.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class=
    {% if form.date.errors %}"form-group has-error"
    {% else %}"form-group"
    {% endif %}>
        {{ form.date.label }} {{ form.date(size=50,class_="form-control") }}
    </div>
    {% if form.date.errors %}
    <ul class="list-group">
        {% for e in form.date.errors %}
        <li class="list-group-item list-group-item-danger">{{ e }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="newalbum">
    <p>Auteur :</p>
    <select name="Auteur ">
        <option value="">Faites votre choix</option>
        {% for auteur in liste %}
            <option value='{{ auteur.get_id() }}'>{{ auteur.get_name() }}</option>
        {% endfor %}
    </select>
    <p><a href="{{ url_for('new_author') }}">Ajouter auteur</a></p>
    <p>Compositeur : </p>
    <select name="Compositeur ">
        <option value="">Faites votre choix</option>
        {% for c in comp %}
            <option value='{{ c.get_id() }}'>{{ c.get_compositeur() }}</option>
        {% endfor %}
    </select>
    <p>Genre :</p>
    <select name="Genre1">
        <option value="100">Faites votre choix</option>
        {% for g in genre %}
            <option value='{{ g.get_id() }}'>{{ g.get_genre() }}</option>
        {% endfor %}
    </select>
    <select name="Genre2">
        <option value="100">Faites votre choix</option>
        {% for g in genre %}
            <option value='{{ g.get_id() }}'>{{ g.get_genre() }}</option>
        {% endfor %}
    </select>
    <select name="Genre3">
        <option value="100">Faites votre choix</option>
        {% for g in genre %}
            <option value='{{ g.get_id() }}'>{{ g.get_genre() }}</option>
        {% endfor %}
    </select>
    <input class="btn btn-success" type="submit" value="Enregistrer">
  </div>
</form>
</div>
{% endblock %}
