{% extends "base.html" %}

{% block main %}
<div class ="info">
<h2>{{album.get_title()}}</h2>
  <img src="{{url_for('static', filename='images/'+album.get_img()) }}" >
  <p>Artiste :<a href="{{ url_for('one_author',id=album.get_author_id()) }}">{{ auteur.get_name() }}</a></p>
  <p>Ecrit par : {{ compositeur.get_compositeur() }}</p>
  <p>Genre(s) : {{ genre }}</p>
  <p>Année : {{ album.get_releaseyear() }}</p>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('edit_album',id=album.get_id() )}}" class="btn btn-primary" role="button">Editer</a>
    <a href="{{ url_for('ajouter_playlist',id=album.get_id() )}}" class="btn btn-primary" role="button">Ajouter à une playlist</a>
  {% endif %}
  <a href="{{ url_for('album') }}" class="btn btn-primary" role="button">Retour</a>
</div>

{% endblock %}
