{% extends "base.html" %}
{% block main %}
<div class ="info">
  <h2>{{ playlist.get_name() }}</h2>
  <section>
    {% if album==[] or album==[None,None] %}
     <p>Il n'y a aucun album dans cette playlist</p>
    {% else %}
  {% for a in album %}
    <h3>{{ a.get_title() }}</h3>
      <a href="{{ url_for('info_album',id=a.get_id()) }}"><img class="img-album" src="{{url_for('static', filename='images/'+a.get_img()) }}" ></a>
  {% endfor %}
  {% endif %}
  </section>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('edit_playlist',id=playlist.get_id()) }}" class="btn btn-primary" role="button">Editer</a>
    <a href="{{ url_for('enlever_playlist',id=playlist.get_id()) }}" class="btn btn-primary" role="button">Enlever un album</a>
  {% endif %}
  <a href="{{ url_for('playlist') }}" class="btn btn-primary" role="button">Retour</a>
</div>
{% endblock %}
