{% extends "base.html" %}


{% block main %}
<div class ="info">
  <h2>{{ author.get_name() }}</h2>
  <section>
  {% for a in album %}
    <h3>{{ a.get_title() }}</h3>
      <a href="{{ url_for('info_album',id=a.get_id()) }}"><img class="img-album" src="{{url_for('static', filename='images/'+a.get_img()) }}" ></a>
  {% endfor %}
  </section>
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('edit_author',id=author.get_id()) }}" class="btn btn-primary" role="button">Editer</a>
  {% endif %}
  <a href="{{ url_for('author') }}" class="btn btn-primary" role="button">Retour</a>
</div>
{% endblock %}
