{% extends "base.html" %}
{% block main %}
<div class="row">
  {% if current_user.is_authenticated %}
    {% if posts.items!=[] %}
      {% for a in posts.items %}
        {% if a.get_username_id()==current_user.username %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="container-op">
              <h3>{{a.get_name()}}</h3>
              <a href="{{ url_for('info_playlist',id=a.get_id()) }}"><img class="img-album" src="{{url_for('static', filename='images/playliste.png') }}" ></a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% else %}
    <p>Vous ne possédez aucune playlist</p>
    {% endif %}
  {% else %}
  <p>Vous n'êtes pas connecté donc vous n'avez pas access à vos playlist</p>
  {% endif %}
</div>
<footer id="footer_album">
  <nav aria-label="Page navigation">
    <ul class="pager">
    {% if posts.has_prev %}
      <li>
        <a href="{{ url_for('playlist', page=posts.prev_num) }}" role="button" onclick="">&laquo; Précédent </a>
    {% else %}
      </li>
      <li>
        <a class="di" href="{{ url_for('playlist', page=posts.prev_num) }}" role="button">&laquo; Précédent</a>
      </li>
    {% endif %}
      <li><a id="page">{{page}}/{{maxPage}}</a></li>
    {% if posts.has_next %}
      <li>
        <a href="{{ url_for('playlist', page=posts.next_num) }}" role="button"> Suivant &raquo;</a>
      </li>
    {% else %}
      <li>
        <a class="di" href="{{ url_for('playlist', page=posts.next_num) }}" role="button"> Suivant &raquo;</a>
      </li>
    {% endif %}
    </ul>
  </nav>
</footer>
{% endblock %}
