{% extends "base.html" %}

{% block main %}
<div class="row">

<ul>
  <h3>Résultat de la recherche pour : <span>« {{recherche}} »</span>"</h3>
  {% if liste_a==[] and liste_al==[] %}
    <p><span> Aucun résultat <span></p>
  {% else %}
    {% if liste_a!=[] %}
    <h1>Artistes</h1>
    {% for author in liste_a %}
    <li><a href="{{ url_for('one_author',id=author.get_id() )}}">{{author.get_name()}}</a></li>
    {% endfor %}
  </ul>

  <ul>
    <h1>Albums</h1>
    {% for album in liste_al %}
    <li><a href="{{ url_for('info_album',id=album.get_id())}}">{{album.get_title()}}</a></li>
    {% endfor %}
  </ul>
  {%endif%}
{% endif %}
</div>
{% endblock %}
