div.info{
  text-align:center;
  font-size: large;
  padding-top: 17%;
}

li{
  list-style: none;
}
div.caption > img{
  width: auto;
  margin: auto;
  text-align: center;
}
.container-btn{
  text-align: center;
  padding: 5%;
  opacity: 0;
}
.row{
  margin: auto;
  padding-top: 11vh;
}
.thumbnail{
  margin: 12vh;
  text-decoration: none;
  margin: 0.5vh;
  height: 40vh;
}
.thumbnail:hover
{
box-shadow: 0px 0px 5px #000000;
z-index: 1;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1.01);
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1.01);
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1.01);
transition: all 200ms ease-in;
transform: scale(1.01);
text-decoration: none;
}
.container-btn:hover{
  opacity: 1;
}
.di {
   pointer-events: none;
   cursor: default;
   color: grey;
}
.pager > li :hover{
  color: #0871f2;
}
