.trois{
  margin-top: 32vh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;


}
.contacts-item{
  text-align: center;
  padding-left: 18vh;
}
p{
  text-decoration: underline;
}
