body{
background-image:url("images/home.png");
background-size : 100%;
}
div.sample {
text-align: center ;
margin-left: 25%;
margin-right: 25%;
padding-top: 5em;
}
#titlehome{
 font-family:  'Roboto',serif;
 font-weight: large;
 font-size: 220%;
 letter-spacing: .2em;
 line-height: 1.1em;
 margin:0px;
 text-align: center;
 text-transform: uppercase;
 padding-top: 37vh;
}
.button > p{
 font-family:  'Helvetica', serif;
 font-weight: large;
 font-size: 120%;
 letter-spacing: .2em;
 line-height: 1.1em;
 margin:0px;
 text-align: center;
 text-transform: uppercase;
 padding-top: 4%;
 padding-bottom: 5%;
}
.button{
  text-align: center;
  padding-top: 2%;
}
#listenInput{
  background: #0871f2;
  background-image: -webkit-linear-gradient(top, #0871f2, #40a4eb);
  border-radius: 29px;
  font-family: 'Roboto',sans-serif,bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  border: thin solid white;
}
#listenInput:hover
{
box-shadow: 0px 0px 10px #000000;
z-index: 2;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1.1);
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1.1);
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1.1);
transition: all 200ms ease-in;
transform: scale(1.1);
text-decoration: none;
}
.container{
  width: 100%;
  padding: 0;
}
.navbar{
  padding: 5px 20px;
  font-size: large;
}
.navbar-brand{
  font-size: x-large;
}
.nav-item:hover{
  border-bottom: white solid;
}
.carousel-caption > h1{
  font-size: 70px;
}
.carousel-caption > p{
  font-size: 20px;
}
.container.marketing{
  background-color: white;
  padding: 4vh;
  height: 100%;
  text-align: center;
  border: solid white 20px;
}
.img-circle{
  border: thin solid;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.img-circle:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.form-horizontal{
  width: 50vh;
  margin-left: 35vw;
  margin-top: 30vh;
}
.form-group{
  text-align: center;
}
.col-sm-offset-2 button{
  width: 100%;
}
.col-sm-offset-2 button:hover{
 color: white;
  background-color: #0871f2;
}
.btn-primary, .btn-default:hover{
  background-color: white;
  color:  #0871f2;
}
.btn-primary, .btn-default{
  border-radius: 29px;
}
.col-lg-4 > h2 {
  font-family: 'Roboto',sans-serif;
}
.col-lg-4 > a{
  color: black;
  text-decoration: none;
}
.col-lg-4 > a :hover{
  text-decoration: underline;
}
#Auteur{
  margin-top: 18vh;
  text-align: center;
  font-size: 25px;
}
#Auteur1{
  background-color:#DAD9E1;
}
.newalbum{
  text-align: center;
  margin: auto;
  padding: 3vh;
}
#delalbum{
  text-align: center;
  font-size: 20px;
  padding-top: 40vh
}
#nwauthor{
  text-align: center;
  margin: auto;
  padding-top:40vh;

}
