body{
padding-top:5rem;
background-image:url("images/home.png");
background-size : 100%;
}
div.sample {
text-align: center ;
margin-left: 25%;
margin-right: 25%;
}
#titlehome{
 font-family:  'Roboto',serif;
 font-weight: large;
 font-size: 220%;
 letter-spacing: .2em;
 line-height: 1.1em;
 margin:0px;
 text-align: center;
 text-transform: uppercase;
 padding-top: 30%;
}
.button > p{
 font-family:  'Helvetica', serif;
 font-weight: large;
 font-size: 120%;
 letter-spacing: .2em;
 line-height: 1.1em;
 margin:0px;
 text-align: center;
 text-transform: uppercase;
 padding-top: 4%;
 padding-bottom: 5%;
}
.button{
  text-align: center;
  padding-top: 2%;
}
#listenInput{
  background: #0871f2;
  background-image: -webkit-linear-gradient(top, #0871f2, #40a4eb);
  border-radius: 29px;
  font-family: 'Helvetica',bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  border: thin solid white;
}
#listenInput:hover
{
box-shadow: 0px 0px 10px #000000;
z-index: 2;
-webkit-transition: all 200ms ease-in;
-webkit-transform: scale(1.1);
-ms-transition: all 200ms ease-in;
-ms-transform: scale(1.1);
-moz-transition: all 200ms ease-in;
-moz-transform: scale(1.1);
transition: all 200ms ease-in;
transform: scale(1.1);
text-decoration: none;
}
.container{
  width: 100%;
}